<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Logger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <% navBars = [
    { title: 'Events', link: '/events' }, 
    { title: 'Users', link: '/users' }
    ] 
    %>
    <div class="navbar-nav">
      <% navBars.forEach(function(navBar) { %>
        <a
        class="nav-item nav-link <%= activeNavBar === navBar.title ? 'active' : '' %>" 
        href=<%= navBar.link %>>
          <%= navBar.title %>
        </a>
      <% }); %>
    </div>
  </div>
</nav>