<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<header>
  <% activeNavBar = 'Events' %>
  <% include ../partials/header %>
</header>

<body>

<main>
  <div class = "container">
    <h1 style="margin: 20px;">List of events by user <%= userID %>:</h1>
    <% include ../partials/events-list %>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>